[gpg]
  program = /usr/local/MacGPG2/bin/gpg
[includeIf "gitdir:~/"]
  path = ~/dotfiles/.gitconfig-me
[includeIf "gitdir:~/code/govly/"]
  path = ~/dotfiles/.gitconfig-govly
[includeIf "gitdir:/var/"]
  path = ~/dotfiles/.gitconfig-var
[pager]
  branch = false
[filter "lfs"]
  clean = git-lfs clean --%f
  smudge = git-lfs smudge --%f
  process = git-lfs filter-process --%f
  required = true
[commit]
  gpgsign = true
[core]
  excludesfile = /Users/tmikeschutte/.gitignore_global
[blame]
	ignoreRevsFile = 
[user]
	name = Mike Schutte
	email = tmikeschutte@gmail.com
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = main
